<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>gj_bianji_jiantou_1</string>
		<key>svg</key>
		<string>gj_sanjiao_1@2x</string>
		<key>offset</key>
		<integer>0</integer>
		<key>inoffset</key>
		<integer>10</integer>
		<key>head</key>
		<integer>5</integer>
		<key>tail</key>
		<integer>2</integer>
		<key>lineCap</key>
		<string>round</string>
		<key>lineJoin</key>
		<string>round</string>
		<key>lineWidth</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_bianji_jiantou_2</string>
		<key>svg</key>
		<string>gj_sanjiao_2@2x</string>
		<key>head</key>
		<integer>5</integer>
		<key>tail</key>
		<integer>2</integer>
		<key>inoffset</key>
		<integer>1</integer>
		<key>lineCap</key>
		<string>round</string>
		<key>lineJoin</key>
		<string>round</string>
		<key>lineWidth</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_bianji_jiantou_3</string>
		<key>svg</key>
		<string>gj_sanjiao_2@2x</string>
		<key>head</key>
		<integer>2</integer>
		<key>tail</key>
		<integer>2</integer>
		<key>inoffset</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_bianji_jiantou_4</string>
		<key>svg</key>
		<string>gj_sanjiao_3@2x</string>
		<key>head</key>
		<integer>2</integer>
		<key>tail</key>
		<integer>2</integer>
		<key>inoffset</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_bianji_jiantou_5</string>
		<key>svg</key>
		<string>gj_sanjiao_4@2x</string>
		<key>head</key>
		<real>3.55</real>
		<key>tail</key>
		<integer>1</integer>
		<key>inoffset</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_bianji_jiantou_6</string>
		<key>svg</key>
		<string>gj_sanjiao_5@2x</string>
		<key>head</key>
		<real>3.55</real>
		<key>tail</key>
		<integer>1</integer>
		<key>inoffset</key>
		<real>2.5</real>
		<key>offset</key>
		<integer>5</integer>
	</dict>
</array>
</plist>
