<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_1_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_2_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_3_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_4_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_4</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_5_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_6_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_6</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_7_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_7</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_8_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_9_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_9</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_10_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_10</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_11_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_11</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_12_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_12</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_reci_13_icon</string>
		<key>image</key>
		<string>gj_tietu_reci_13</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_1_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_1</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_2_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_3_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_3</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_4_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_4</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_5_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_6_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_6</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_7_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_7</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_8_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_8</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_9_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_9</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_10_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_10</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_11_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_11</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_12_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_12</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_13_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_13</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_14_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_14</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>gj_tietu_shangwu_15_icon</string>
		<key>image</key>
		<string>gj_tietu_shangwu_15</string>
	</dict>
</array>
</plist>
